<div class="main-box">
    <form [formGroup]="form">
    <p class="title">Currency converter</p>
    <div class="converter-box">
        <div class="left-currency case">
            <select formControlName="leftSelect" class="select" (change)="onSubmit('b')" >
                <option *ngFor="let currency of listCurrency" value="{{currency.value}}">{{currency.name}}</option>
            </select>
            <input type="number" class="input" formControlName="leftInput" value="{{leftInput}}" (keyup)="onSubmit('a')">
        </div>
        <div class="equal1">
            <span>&#8644;</span>
        </div>
        <div class="equal2">&#8595;&#8593;</div>
        <div class="right-currency case">
            <select formControlName="rightSelect" class="select" (change)="onSubmit('b')">
                <option *ngFor="let currency of listCurrency" value="{{currency.value}}">{{currency.name}}</option>
            </select>
            <input type="number" class="input" formControlName="rightInput" value="{{rightInput}}" (keyup)="onSubmit('c')">
        </div>
    </div>
</form>
</div>